body {
  padding: 20px;
  text-align: center;
  background: url('img/background.png');
  height: 33000px;
  font-family: 'Milonga', cursive;
  font-size: 16px,
}

.vignette {
  position: fixed;
  z-index: -20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px 150px rgba(0,0,0,0.9) inset;
}

.blackout {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#alicetrigger {
  position: relative;
  top: 800px;
}

#alice {
  width: 225px;
  height: 400px;
  top: 25%;
  left: 42.5%;
  background: url(img/alicespritesheet.png) left center;
  position: fixed;
  z-index: 10;
  opacity: 0;
  transition: 0.25s;
}

#alice.show {
  opacity: 1;
}

#alice.hide {
  opacity: 0;
}

.scrolling #alice {
  animation: falling 1s steps(2) infinite;
}

.ch {
  height: 1000px;
  top: 8000px;
  position: relative;
}

#cheshire {
  width: 250px;
  height: 250px;
  left: 15%;
  background: url(img/cheshiresprites.png) left center;
  position: absolute;
  z-index: 10;
  animation: sprite 1s steps(11) infinite;
}

#lamp {
  width: 300px;
  height: 300px;
  top: 5000px;
  left: 25%;
  background: url(img/lampspritesheet.png) left center;
  position: relative;
  z-index: 5;
}

#lamp.lampOn {
  animation: lamp .1s steps(1);
  animation-fill-mode: forwards;
}

.b {
  height: 1000px;
  top: 7000px;
  position: relative;
}

#bookshelf {
  position: absolute;
  width: 550px;
  height: 550px;
}

.b1 {
  height: 1000px;
  top: 5900px;
  position: relative;
}

#book1 {
  position: absolute;
  left: 500px;
  width: 150px;
  height: 150px;
}

.b2 {
  height: 1000px;
  top: 5000px;
  position: relative;
}

#book2 {
  position: absolute;
  left: 400px;
  width: 150px;
  height: 150px;
}

.b3 {
  height: 1500px;
  top: 4400px;
  position: relative;
}

#book3 {
  position: absolute;
  left: 400px;
  width: 160px;
  height: 120px;
}

.b4 {
  height: 1000px;
  top: 2600px;
  position: relative;
}

#book4 {
  position: absolute;
  left: 500px;
  width: 120px;
  height: 160px;
}

.c {
  height: 1000px;
  top: 6000px;
  position: relative;
}

#deck {
  position: absolute;
  left: 1000px;
  width: 100px;
  height: 100px;
}

.c1 {
  height: 1000px;
  top: 4990px;
  position: relative;
}

#card1 {
  position: absolute;
  left: 1000px;
  width: 100px;
  height: 100px;
}

.c11 {
  height: 1000px;
  top: 3990px;
  position: relative;
}

#card11 {
  position: absolute;
  left: 1000px;
  width: 100px;
  height: 100px;
}

.c2 {
  height: 1000px;
  top: 2900px;
  position: relative;
}

#card2 {
  position: absolute;
  left: 900px;
  width: 120px;
  height: 120px;
}

.c3 {
  height: 1000px;
  top: 1850px;
  position: relative;
}

#card3 {
  position: absolute;
  left: 1050px;
  width: 120px;
  height: 120px;
}

.c4 {
  height: 1000px;
  top: 800px;
  position: relative;
}

#card4 {
  position: absolute;
  left: 950px;
  width: 120px;
  height: 120px;
}

.c5 {
  height: 1000px;
  top: -300px;
  position: relative;
}

#card5 {
  position: absolute;
  left: 1050px;
  width: 120px;
  height: 120px;
}

.t1 {
  height: 1000px;
  top: 2950px;
  position: relative;
}

#teapot {
  position: absolute;
  left: 970px;
  width: 140px;
  height: 140px;
}

.t2 {
  height: 1000px;
  top: 2100px;
  position: relative;
}

#teacup {
  position: absolute;
  left: 1050px;
  width: 100px;
  height: 100px;
}

.m1 {
  height: 1000px;
  top: 3900px;
  position: relative;
}

#toast {
  position: absolute;
  left: 400px;
  width: 120px;
  height: 120px;
}

.m2 {
  height: 1000px;
  top: 2800px;
  position: relative;
}

#marmalade {
  position: absolute;
  left: 200px;
  width: 120px;
  height: 120px;
}

h1 {
  font-size: 7em;
  color: #464646;
}

h2 {
  font-size: 10em;
  color: #464646;
}

h3 {
  position: relative;
  top: -80px;
  font-size: 2em;
  color: #464646;
}

h2#arrow {
  position: relative;
  animation: bob 1.5s infinite;
}

p {
  font-size: 3em;
  width: 70%;
  margin: auto;
  line-height: 1.5em;
  color: #464646;
}

#p1 {
  opacity: 0;
  transition: 0.5s;
  position: relative;
  top: 400px;
}

#p1.show {
  opacity: 1;
}

#p2 {
  opacity: 0;
  transition: 0.5s;
  position: relative;
  z-index: 30;
  top: 2000px;
}

#p2.show {
  opacity: 1;
}

#p3 {
  opacity: 0;
  transition: 0.5s;
  position: relative;
  z-index: 30;
  top: 5000px;
}

#p3.show {
  opacity: 1;
}

#p4 {
  opacity: 0;
  transition: 0.5s;
  position: relative;
  z-index: 30;
  top: 10000px;
  background-color: #000000;
}

#p4.show {
  opacity: 1;
}

#p5 {
  transition: 0.5s;
  position: absolute;
  z-index: 30;
  top: 32900px;
  left: 15%;
  margin: auto;
  background-color: #000000;
}

@keyframes sprite {
  from { background-position: 0%; }
  to { background-position: 100%; }
}

@keyframes bob {
  0% { top: 0px; }
  50% { top: 30px; }
  100% { top: 0px; }
}

@keyframes falling {
  0% { background-position: 0%; }
  50% { background-position: 100%; }
  100% { background-position: 0%; }
}

@keyframes lamp {
  0% { background-position: 0%; }
  50% { background-position: 0%; }
  100% { background-position: 100%; }
}
